<% include header %>

      <script>
      function forwardTweetsHistory(account) {

        $.ajax({
            type: 'GET',
            url: '/user-timeline/<%=data.username %>/'+account
        }).done(function(data){
            console.log("done importing");
            $("#"+account).html(Object.keys(data).length+' tweets successfuly imported');
            console.dir(data);
        });
        return false;
      }
      function submitForm() {
        $.ajax({type:'PUT', url: '/user-settings/<%=data.username %>', data:{
          'twitter':{
            'filter':$("#filter").val(),
            'filterOption':$('#filterOption').val()}}, dataType:'json', success: function(response) {
          console.log($('#filterOption').val());
          $('#formResult').html('update successful');
          console.log(response);
        }});
        return false;
      }
      </script>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Bridge: Twitter</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li class="active"><a>Preferences</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <span id="pryvButton"></span>
      <h2>Preferences for user <%= data.username %></h2>
      <br />
      <span id="pryvButton"></span>

      <form class="well" action="" method="" onsubmit="return submitForm();" id="prefsForm">
        <label>PrYv filter</label>
        <input id="filter" type="text" class="span3" placeholder="set your filter" value="<%= result.twitter.filter %>">
        <span class="help-inline">Tweets with this filter will be forwarded if the filter is active</span>
        <label class="select">
          Which tweets are forwarded to PrYv ?<br />
          <select id="filterOption">
            <option value="all" <% if (result.twitter.filterOption === 'all') { %>selected<% } %>>All of them</option>
            <option value="filter" <% if (result.twitter.filterOption === 'filter') { %>selected<% } %>>Only the one matching my filter</option>
            <option value="favorite" <% if (result.twitter.filterOption === 'favorite') { %>selected<% } %>>Only the one I favorite</option>
          </select>
        </label>
        <div id="formResult"></div>
        <button type="submit" class="btn">Submit</button>
      </form>

      <% result.twitter.credentials.forEach(function(credential){
        if (credential.accessToken !== '') {%>
      <form class="well">
        PrYv is connected to the twitter account <b><%= credential.username %></b>. New tweets will automatically be forwarded to PrYv based on your preferences.
        <br /><br /><button class="btn" type="button" onclick="forwardTweetsHistory('<%= credential.username %>')">Import tweets</button><span class="help-inline">&nbsp;max. 3200 tweets</span>
        <div id="<%= credential.username %>"></div>
      </form>
      <% }}) %>

      <p><a href="/auth">Add a new twitter account</a></p>
      <p>To revoke the access, go to <a href="https://twitter.com/settings/applications" target="_blank">the twitter settings</a> of your corresponding account.</p><br />


      <script>
      //TODO: remove this debugging script
      var connection = new Pryv.Connection({username:'perkikiki', auth:'VPoFEsuJRM', staging: true});

      var eventData = { streamId : 'social-twitter', type: 'message/twitter', content: {id: '1234', 'screen-name':'balbla'} };
      connection.events.create(eventData, function(err, event) {
        console.log('Event created:');
        console.dir(event);

        connection.events.get({limit : 3}, function (err, events) {
          console.dir(events);
        })
      });
      </script>

    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
